<%- include('partials/header') %>
<main class="main">
    <div class="application py-120">
        <div class="container">
            <div class="application-form">
                <h3>Add Blog Post</h3>
                <form action="/add-blog-post" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control" name="title" type="text"
                                       placeholder="Enter post title" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Content</label>
                                <textarea class="form-control" name="content" rows="6"
                                          placeholder="Enter post content" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Images</label>
                                <input class="form-control" name="images" type="file"
                                       multiple accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Author ID</label>
                                <input class="form-control" name="author_id" type="number"
                                       placeholder="Enter author ID" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Category ID</label>
                                <input class="form-control" name="category_id" type="number"
                                       placeholder="Enter category ID" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Tags</label>
                                <textarea class="form-control" name="tags" rows="3"
                                          placeholder="Enter tags, separated by commas"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="theme-btn">Add Blog Post<i class="fas fa-arrow-right-long"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>