<%- include('partials/header') %>

<main class="main">

    <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/01.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title">Athletics</h2>
            <ul class="breadcrumb-menu">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Athletics</li>
            </ul>
        </div>
    </div>


    <div class="athletic py-120">
        <div class="container">
            <div class="athletic-content">
                <div class="athletic-img">
                    <img src="assets/img/athletic/01.jpg" alt>
                </div>
                <div class="my-4">
                    <h3 class="mb-2">We Wish Our Eduka Team</h3>
                    <p>We are the other hand, we denounce with righteous indignation and dislike men who are so
                        beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that
                        they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to
                        those who fail in their duty through weakness of will, which is the same as saying through
                        shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a
                        free hour, when our power of choice is untrammelled and when nothing prevents our being able
                        to do what we like best, every pleasure is to be welcomed and every pain avoided. But in
                        certain circumstances and owing to the claims of duty or the obligations of business it will
                        frequently occur that pleasures have to be repudiated and annoyances accepted.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-20">
                        <img src="assets/img/athletic/02.jpg" alt>
                    </div>
                    <div class="col-md-6 mb-20">
                        <img src="assets/img/athletic/03.jpg" alt>
                    </div>
                </div>
                <div class="my-4">
                    <h3 class="mb-2">Female Athletes Hurdling Team</h3>
                    <p>We are the other hand, we denounce with righteous indignation and dislike men who are so
                        beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that
                        they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to
                        those who fail in their duty through weakness of will, which is the same as saying through
                        shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a
                        free hour, when our power of choice is untrammelled and when nothing prevents our being able
                        to do what we like best, every pleasure is to be welcomed and every pain avoided. But in
                        certain circumstances and owing to the claims of duty or the obligations of business it will
                        frequently occur that pleasures have to be repudiated and annoyances accepted.
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>

<%- include('partials/footer') %>
