<%- include('partials/header') %>

<main class="main">

    <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/01.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title">Our Clubs</h2>
            <ul class="breadcrumb-menu">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Our Clubs</li>
            </ul>
        </div>
    </div>


    <div class="club-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Our Clubs</span>
                        <h2 class="site-title">Our Awesome <span>Clubs</span></h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="club-item wow fadeInUp" data-wow-delay=".25s">
                        <div class="club-img">
                            <img src="assets/img/club/01.jpg" alt>
                        </div>
                        <div class="club-content">
                            <h3 class="club-title">
                                <a href="#">Computer And Programming Club</a>
                            </h3>
                            <p class="club-text">
                                There are many variations of passages orem psum available but the majority have
                                suffer alteration in some form by injected.
                            </p>
                            <div class="club-arrow">
                                <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="club-item wow fadeInDown" data-wow-delay=".25s">
                        <div class="club-img">
                            <img src="assets/img/club/02.jpg" alt>
                        </div>
                        <div class="club-content">
                            <h3 class="club-title">
                                <a href="#">Robotics Club</a>
                            </h3>
                            <p class="club-text">
                                There are many variations of passages orem psum available but the majority have
                                suffer alteration in some form by injected.
                            </p>
                            <div class="club-arrow">
                                <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="club-item wow fadeInUp" data-wow-delay=".25s">
                        <div class="club-img">
                            <img src="assets/img/club/03.jpg" alt>
                        </div>
                        <div class="club-content">
                            <h3 class="club-title">
                                <a href="#">Photographic Society</a>
                            </h3>
                            <p class="club-text">
                                There are many variations of passages orem psum available but the majority have
                                suffer alteration in some form by injected.
                            </p>
                            <div class="club-arrow">
                                <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="club-item wow fadeInUp" data-wow-delay=".25s">
                        <div class="club-img">
                            <img src="assets/img/club/04.jpg" alt>
                        </div>
                        <div class="club-content">
                            <h3 class="club-title">
                                <a href="#">Business And Edukation Club</a>
                            </h3>
                            <p class="club-text">
                                There are many variations of passages orem psum available but the majority have
                                suffer alteration in some form by injected.
                            </p>
                            <div class="club-arrow">
                                <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="club-item wow fadeInDown" data-wow-delay=".25s">
                        <div class="club-img">
                            <img src="assets/img/club/05.jpg" alt>
                        </div>
                        <div class="club-content">
                            <h3 class="club-title">
                                <a href="#">Voluntary Service Club</a>
                            </h3>
                            <p class="club-text">
                                There are many variations of passages orem psum available but the majority have
                                suffer alteration in some form by injected.
                            </p>
                            <div class="club-arrow">
                                <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="club-item wow fadeInUp" data-wow-delay=".25s">
                        <div class="club-img">
                            <img src="assets/img/club/06.jpg" alt>
                        </div>
                        <div class="club-content">
                            <h3 class="club-title">
                                <a href="#">Blood Donors Club</a>
                            </h3>
                            <p class="club-text">
                                There are many variations of passages orem psum available but the majority have
                                suffer alteration in some form by injected.
                            </p>
                            <div class="club-arrow">
                                <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<%- include('partials/footer') %>