<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from live.themewild.com/eduka/application-form.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Oct 2024 17:42:17 GMT -->
<head>

    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content name="description">
    <meta content name="keywords">

    <title>Eduka - School, College, University And Courses HTML5 Template</title>

    <link href="assets/img/logo/favicon.png" rel="icon" type="image/x-icon">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all-fontawesome.min.css" rel="stylesheet">
    <link href="assets/css/animate.min.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.min.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

    <%- include('partials/header') %>

    <main class="main">

        <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/01.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">Events</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="index-2.html">Home</a></li>
                    <li class="active">Events</li>
                </ul>
            </div>
        </div>


        <div class="event-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Events</span>
                            <h2 class="site-title">Our Upcoming <span>Events</span></h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="event-item">
                            <div class="event-location">
                                <span><i class="far fa-map-marker-alt"></i> 25/B Milford Road, New York</span>
                            </div>
                            <div class="event-img">
                                <img src="assets/img/event/01.jpg" alt>
                            </div>
                            <div class="event-info">
                                <div class="event-meta">
                                    <span class="event-date"><i class="far fa-calendar-alt"></i>16 June, 2024</span>
                                    <span class="event-time"><i class="far fa-clock"></i>10.00AM - 04.00PM</span>
                                </div>
                                <h4 class="event-title"><a href="#">High School Program 2024</a></h4>
                                <p>There are many variations of passages the majority have some injected humour.</p>
                                <div class="event-btn">
                                    <a href="#" class="theme-btn">Join Event<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="event-item">
                            <div class="event-location">
                                <span><i class="far fa-map-marker-alt"></i> 25/B Milford Road, New York</span>
                            </div>
                            <div class="event-img">
                                <img src="assets/img/event/02.jpg" alt>
                            </div>
                            <div class="event-info">
                                <div class="event-meta">
                                    <span class="event-date"><i class="far fa-calendar-alt"></i>16 June, 2024</span>
                                    <span class="event-time"><i class="far fa-clock"></i>10.00AM - 04.00PM</span>
                                </div>
                                <h4 class="event-title"><a href="#">High School Program 2024</a></h4>
                                <p>There are many variations of passages the majority have some injected humour.</p>
                                <div class="event-btn">
                                    <a href="#" class="theme-btn">Join Event<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="event-item">
                            <div class="event-location">
                                <span><i class="far fa-map-marker-alt"></i> 25/B Milford Road, New York</span>
                            </div>
                            <div class="event-img">
                                <img src="assets/img/event/03.jpg" alt>
                            </div>
                            <div class="event-info">
                                <div class="event-meta">
                                    <span class="event-date"><i class="far fa-calendar-alt"></i>16 June, 2024</span>
                                    <span class="event-time"><i class="far fa-clock"></i>10.00AM - 04.00PM</span>
                                </div>
                                <h4 class="event-title"><a href="#">High School Program 2024</a></h4>
                                <p>There are many variations of passages the majority have some injected humour.</p>
                                <div class="event-btn">
                                    <a href="#" class="theme-btn">Join Event<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="event-item">
                            <div class="event-location">
                                <span><i class="far fa-map-marker-alt"></i> 25/B Milford Road, New York</span>
                            </div>
                            <div class="event-img">
                                <img src="assets/img/event/04.jpg" alt>
                            </div>
                            <div class="event-info">
                                <div class="event-meta">
                                    <span class="event-date"><i class="far fa-calendar-alt"></i>16 June, 2024</span>
                                    <span class="event-time"><i class="far fa-clock"></i>10.00AM - 04.00PM</span>
                                </div>
                                <h4 class="event-title"><a href="#">High School Program 2024</a></h4>
                                <p>There are many variations of passages the majority have some injected humour.</p>
                                <div class="event-btn">
                                    <a href="#" class="theme-btn">Join Event<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="event-item">
                            <div class="event-location">
                                <span><i class="far fa-map-marker-alt"></i> 25/B Milford Road, New York</span>
                            </div>
                            <div class="event-img">
                                <img src="assets/img/event/05.jpg" alt>
                            </div>
                            <div class="event-info">
                                <div class="event-meta">
                                    <span class="event-date"><i class="far fa-calendar-alt"></i>16 June, 2024</span>
                                    <span class="event-time"><i class="far fa-clock"></i>10.00AM - 04.00PM</span>
                                </div>
                                <h4 class="event-title"><a href="#">High School Program 2024</a></h4>
                                <p>There are many variations of passages the majority have some injected humour.</p>
                                <div class="event-btn">
                                    <a href="#" class="theme-btn">Join Event<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="event-item">
                            <div class="event-location">
                                <span><i class="far fa-map-marker-alt"></i> 25/B Milford Road, New York</span>
                            </div>
                            <div class="event-img">
                                <img src="assets/img/event/06.jpg" alt>
                            </div>
                            <div class="event-info">
                                <div class="event-meta">
                                    <span class="event-date"><i class="far fa-calendar-alt"></i>16 June, 2024</span>
                                    <span class="event-time"><i class="far fa-clock"></i>10.00AM - 04.00PM</span>
                                </div>
                                <h4 class="event-title"><a href="#">High School Program 2024</a></h4>
                                <p>There are many variations of passages the majority have some injected humour.</p>
                                <div class="event-btn">
                                    <a href="#" class="theme-btn">Join Event<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination-area">
                    <div aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="far fa-arrow-left"></i></span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="far fa-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <%- include('partials/footer') %>

</body>
</html>