<%- include('partials/header') %>

<main class="main">

    <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/01.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title">Notice Board</h2>
            <ul class="breadcrumb-menu">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Notice Board</li>
            </ul>
        </div>
    </div>


    <div class="notice-board py-120">
        <div class="container">
            <div class="notice-wrap">
                <div class="notice-item">
                    <h4><a href="#">Project Thesis Workshop On Technical Writing Notice for 29 And 30 Batch</a></h4>
                    <div class="notice-meta">
                        <span><i class="far fa-building-columns"></i> Software Engineering</span>
                        <span><i class="far fa-buildings"></i> Academic</span>
                        <span><i class="far fa-calendar-alt"></i> 19th June 2024</span>
                        <span><i class="far fa-eye"></i> 25k Views</span>
                    </div>
                </div>
                <div class="notice-item">
                    <h4><a href="#">Project Thesis Workshop On Technical Writing Notice for 29 And 30 Batch</a></h4>
                    <div class="notice-meta">
                        <span><i class="far fa-building-columns"></i> Software Engineering</span>
                        <span><i class="far fa-buildings"></i> Academic</span>
                        <span><i class="far fa-calendar-alt"></i> 19th June 2024</span>
                        <span><i class="far fa-eye"></i> 25k Views</span>
                    </div>
                </div>
                <div class="notice-item">
                    <h4><a href="#">Project Thesis Workshop On Technical Writing Notice for 29 And 30 Batch</a></h4>
                    <div class="notice-meta">
                        <span><i class="far fa-building-columns"></i> Software Engineering</span>
                        <span><i class="far fa-buildings"></i> Academic</span>
                        <span><i class="far fa-calendar-alt"></i> 19th June 2024</span>
                        <span><i class="far fa-eye"></i> 25k Views</span>
                    </div>
                </div>
                <div class="notice-item">
                    <h4><a href="#">Project Thesis Workshop On Technical Writing Notice for 29 And 30 Batch</a></h4>
                    <div class="notice-meta">
                        <span><i class="far fa-building-columns"></i> Software Engineering</span>
                        <span><i class="far fa-buildings"></i> Academic</span>
                        <span><i class="far fa-calendar-alt"></i> 19th June 2024</span>
                        <span><i class="far fa-eye"></i> 25k Views</span>
                    </div>
                </div>
                <div class="notice-item">
                    <h4><a href="#">Project Thesis Workshop On Technical Writing Notice for 29 And 30 Batch</a></h4>
                    <div class="notice-meta">
                        <span><i class="far fa-building-columns"></i> Software Engineering</span>
                        <span><i class="far fa-buildings"></i> Academic</span>
                        <span><i class="far fa-calendar-alt"></i> 19th June 2024</span>
                        <span><i class="far fa-eye"></i> 25k Views</span>
                    </div>
                </div>
                <div class="notice-item">
                    <h4><a href="#">Project Thesis Workshop On Technical Writing Notice for 29 And 30 Batch</a></h4>
                    <div class="notice-meta">
                        <span><i class="far fa-building-columns"></i> Software Engineering</span>
                        <span><i class="far fa-buildings"></i> Academic</span>
                        <span><i class="far fa-calendar-alt"></i> 19th June 2024</span>
                        <span><i class="far fa-eye"></i> 25k Views</span>
                    </div>
                </div>
            </div>

            <div class="pagination-area">
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="far fa-arrow-left"></i></span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="far fa-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</main>

<%- include('partials/footer') %>