<%- include('partials/header') %>

<main class="main">

    <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/01.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title">Portfolio</h2>
            <ul class="breadcrumb-menu">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Portfolio</li>
            </ul>
        </div>
    </div>


    <div class="portfolio-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Portfolio</span>
                        <h2 class="site-title">Explore Our <span>Portfolio</span></h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="assets/img/portfolio/01.jpg" alt>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-info">
                                <div class="portfolio-title-info">
                                    <h5 class="portfolio-subtitle"><span>//</span> Health</h5>
                                    <a href="#">
                                        <h4 class="portfolio-title">Student Health Care</h4>
                                    </a>
                                </div>
                                <a href="#" class="portfolio-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="assets/img/portfolio/02.jpg" alt>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-info">
                                <div class="portfolio-title-info">
                                    <h5 class="portfolio-subtitle"><span>//</span> Health</h5>
                                    <a href="#">
                                        <h4 class="portfolio-title">Student Health Care</h4>
                                    </a>
                                </div>
                                <a href="#" class="portfolio-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="assets/img/portfolio/03.jpg" alt>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-info">
                                <div class="portfolio-title-info">
                                    <h5 class="portfolio-subtitle"><span>//</span> Health</h5>
                                    <a href="#">
                                        <h4 class="portfolio-title">Student Health Care</h4>
                                    </a>
                                </div>
                                <a href="#" class="portfolio-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="assets/img/portfolio/04.jpg" alt>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-info">
                                <div class="portfolio-title-info">
                                    <h5 class="portfolio-subtitle"><span>//</span> Health</h5>
                                    <a href="#">
                                        <h4 class="portfolio-title">Student Health Care</h4>
                                    </a>
                                </div>
                                <a href="#" class="portfolio-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="assets/img/portfolio/05.jpg" alt>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-info">
                                <div class="portfolio-title-info">
                                    <h5 class="portfolio-subtitle"><span>//</span> Health</h5>
                                    <a href="#">
                                        <h4 class="portfolio-title">Student Health Care</h4>
                                    </a>
                                </div>
                                <a href="#" class="portfolio-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <div class="portfolio-img">
                            <img src="assets/img/portfolio/06.jpg" alt>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-info">
                                <div class="portfolio-title-info">
                                    <h5 class="portfolio-subtitle"><span>//</span> Health</h5>
                                    <a href="#">
                                        <h4 class="portfolio-title">Student Health Care</h4>
                                    </a>
                                </div>
                                <a href="#" class="portfolio-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<%- include('partials/footer') %>