<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from live.themewild.com/eduka/application-form.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Oct 2024 17:42:17 GMT -->
<head>

    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content name="description">
    <meta content name="keywords">

    <title>Eduka - School, College, University And Courses HTML5 Template</title>

    <link href="assets/img/logo/favicon.png" rel="icon" type="image/x-icon">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all-fontawesome.min.css" rel="stylesheet">
    <link href="assets/css/animate.min.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.min.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

    <%- include('partials/header') %>

    <main class="main">

        <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/01.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">Pricing Plan</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="index-2.html">Home</a></li>
                    <li class="active">Pricing Plan</li>
                </ul>
            </div>
        </div>


        <div class="pricing-area bg py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Pricing</span>
                            <h2 class="site-title">Choose Your <span>Pricing</span> Plan</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="pricing-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="pricing-header">
                                <div class="pricing-icon">
                                    <img src="assets/img/icon/course-material.svg" alt>
                                </div>
                                <div class="pricing-header-content">
                                    <h4>Basic</h4>
                                    <h1 class="pricing-amount">$599<span class="pricing-duration">/Month</span></h1>
                                </div>
                            </div>
                            <div class="pricing-feature">
                                <ul>
                                    <li>50+ Course Material</li>
                                    <li>10 Expert Personal Teacher</li>
                                    <li>100+ Online And Offline Courses</li>
                                    <li>1,500 Active Students</li>
                                    <li>24/7 Online Support</li>
                                </ul>
                                <a href="#" class="theme-btn">Choose Plan<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="pricing-item active wow fadeInDown" data-wow-delay=".25s">
                            <div class="pricing-header">
                                <div class="pricing-icon">
                                    <img src="assets/img/icon/course-material.svg" alt>
                                </div>
                                <div class="pricing-header-content">
                                    <h4>Standard</h4>
                                    <h1 class="pricing-amount">$799<span class="pricing-duration">/Month</span></h1>
                                </div>
                            </div>
                            <div class="pricing-feature">
                                <ul>
                                    <li>50+ Course Material</li>
                                    <li>10 Expert Personal Teacher</li>
                                    <li>100+ Online And Offline Courses</li>
                                    <li>1,500 Active Students</li>
                                    <li>24/7 Online Support</li>
                                </ul>
                                <a href="#" class="theme-btn">Choose Plan<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="pricing-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="pricing-header">
                                <div class="pricing-icon">
                                    <img src="assets/img/icon/course-material.svg" alt>
                                </div>
                                <div class="pricing-header-content">
                                    <h4>Premium</h4>
                                    <h1 class="pricing-amount">$899<span class="pricing-duration">/Month</span></h1>
                                </div>
                            </div>
                            <div class="pricing-feature">
                                <ul>
                                    <li>50+ Course Material</li>
                                    <li>10 Expert Personal Teacher</li>
                                    <li>100+ Online And Offline Courses</li>
                                    <li>1,500 Active Students</li>
                                    <li>24/7 Online Support</li>
                                </ul>
                                <a href="#" class="theme-btn">Choose Plan<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <%- include('partials/footer') %>

</body>
</html>