<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from live.themewild.com/eduka/application-form.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Oct 2024 17:42:17 GMT -->
<head>

    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content name="description">
    <meta content name="keywords">

    <title>Eduka - School, College, University And Courses HTML5 Template</title>

    <link href="assets/img/logo/favicon.png" rel="icon" type="image/x-icon">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all-fontawesome.min.css" rel="stylesheet">
    <link href="assets/css/animate.min.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.min.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

    <%- include('partials/header') %>

    <main class="main">

        <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/01.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">Research</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="index-2.html">Home</a></li>
                    <li class="active">Research</li>
                </ul>
            </div>
        </div>


        <div class="research-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Research</span>
                            <h2 class="site-title">Our Research <span>Area</span></h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="research-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="research-img">
                                <img src="assets/img/research/01.jpg" alt>
                            </div>
                            <div class="research-content">
                                <h3 class="research-title">
                                    <a href="#">Science And Technology</a>
                                </h3>
                                <p class="research-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffer alteration in some form by injected.
                                </p>
                                <div class="research-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="research-item wow fadeInDown" data-wow-delay=".25s">
                            <div class="research-img">
                                <img src="assets/img/research/02.jpg" alt>
                            </div>
                            <div class="research-content">
                                <h3 class="research-title">
                                    <a href="#">Business And Entrepreneurship</a>
                                </h3>
                                <p class="research-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffer alteration in some form by injected.
                                </p>
                                <div class="research-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="research-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="research-img">
                                <img src="assets/img/research/03.jpg" alt>
                            </div>
                            <div class="research-content">
                                <h3 class="research-title">
                                    <a href="#">Humanities And Social Sciences</a>
                                </h3>
                                <p class="research-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffer alteration in some form by injected.
                                </p>
                                <div class="research-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="research-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="research-img">
                                <img src="assets/img/research/04.jpg" alt>
                            </div>
                            <div class="research-content">
                                <h3 class="research-title">
                                    <a href="#">Allied Health Sciences</a>
                                </h3>
                                <p class="research-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffer alteration in some form by injected.
                                </p>
                                <div class="research-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="research-item wow fadeInDown" data-wow-delay=".25s">
                            <div class="research-img">
                                <img src="assets/img/research/05.jpg" alt>
                            </div>
                            <div class="research-content">
                                <h3 class="research-title">
                                    <a href="#">Robort Space Research</a>
                                </h3>
                                <p class="research-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffer alteration in some form by injected.
                                </p>
                                <div class="research-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="research-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="research-img">
                                <img src="assets/img/research/06.jpg" alt>
                            </div>
                            <div class="research-content">
                                <h3 class="research-title">
                                    <a href="#">Medical Machines Research</a>
                                </h3>
                                <p class="research-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffer alteration in some form by injected.
                                </p>
                                <div class="research-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <%- include('partials/footer') %>

</body>
</html>