<%- include('partials/header') %>

<main class="main">
    <div class="scholarship pt-120">
        <div class="container">
            <div class="scholarship-content">
                <div class="scholarship-img">
                    <img
                            src="https://ezra.goldtech.co.ke/storage/sliders/whatsapp-image-2024-10-13-at-165951-56ad15a5.jpg"
                            alt
                    />
                </div>
                <div class="my-4">
                    <h3 class="mb-2">Scholarships at eMobilis Training Institute</h3>
                    <p>
                        At eMobilis Training Institute, we are committed to empowering
                        the next generation of tech professionals by offering access to
                        top-tier education through our scholarship programs.
                        Understanding that financial barriers should not stand in the
                        way of talent and ambition, we provide two distinct scholarship
                        opportunities to help aspiring students achieve their dreams and
                        build successful careers in the tech industry. Our Partial
                        Scholarship Program is designed for recent high school graduates
                        with a passion for technology. This program provides reduced
                        tuition fees for various tech courses, making it easier for
                        students to access the education they need to excel in today’s
                        competitive digital landscape. It’s ideal for those who are
                        determined to learn but may face financial challenges. We also
                        offer a Fully Sponsored Web Development Program, made possible
                        by the generous support of the Mastercard Foundation. This
                        comprehensive program covers all aspects of web development,
                        from front-end to back-end, and equips students with the skills
                        needed to thrive in the tech field. The fully funded nature of
                        this course ensures that financial constraints don’t limit a
                        student's potential. With these scholarship programs, eMobilis
                        is dedicated to transforming passion into career opportunities
                        and shaping the future of technology.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="campus-life-details pb-80">
        <div class="container">
            <div class="details-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="details-item">
                            <h3 class="mb-3">Partial Scholarships</h3>
                            <p>
                                This scholarship program is designed for recent high school
                                graduates who have a passion for technology but may face
                                financial barriers. Through our partial scholarships,
                                eligible students can access a variety of our tech courses
                                at a reduced fee, giving them the opportunity to acquire the
                                skills needed to thrive in today’s digital economy.
                            </p>
                            <a href="#" class="theme-btn mt-4"
                            >Apply For Scholarship<i class="fas fa-arrow-right-long"></i
                                ></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-item">
                            <h3 class="mb-3">Web Development Program</h3>
                            <p>
                                We are excited to offer a fully sponsored web development
                                course through the generous support of the Mastercard
                                Foundation. This program aims to equip learners with the
                                essential skills needed to become professional web
                                developers. The course covers both front-end and back-end
                                development, preparing students to design, build, and
                                maintain dynamic websites and applications.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('partials/footer') %>